*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth ;
  /* font-family: 'Cinzel', serif;
font-family: 'Dancing Script', cursive;
font-family: 'Gwendolyn', cursive;
font-family: 'Merriweather', serif; */
}


.row{
  width: 100%;
}

.row:after{
content: '';
clear: both;
display: table;
}

[class*="col-"]{
  width: 100%;
  float: left;
  padding: 15px;
}



/* navbar er design shuru */

header{
  background-color: rgb(100, 194, 163);
  padding: 5px;
  text-align: center;
}

.main-logo{
 position: relative;
 margin-bottom: 20px;
 margin-left: 40px;
 
}

.main-logo img{
  position: absolute;
  top:0;
  left: 5px;
  width: 60px;
  height: 60px;
  line-height: 10px;
  text-align: center;
  border: 3px solid rgb(236, 233, 233);
  border-radius: 50%;
  cursor: pointer;
  
}

.main-logo  a{
  position: absolute;
  top: 5px;
  left: 60px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: antiquewhite;
  padding: 10px;
  
  font-size: 1.4rem;
 
}

nav a{
 
  text-decoration: none;
  display: block;
  padding: 5px 0px;
  color: antiquewhite;
  font-size: 1.25rem;
  text-transform: uppercase;
 letter-spacing: 2px;
 margin-top: 15px;
 font-family: 'Cinzel', serif;
 
}


/* navbar er design sesh */


 /* main section er design shuru */

/* background image er design starts here */
 #bg-img{
   background-image: url(images/background.jpg);
  background-attachment: local;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  width: 100%;
  height: auto;
 }

 .bg-desc{
  
   padding: 25% 10%;
   text-align: justify;
 }

 .bg-desc h1{
   font-size: 1.8rem;
   margin-bottom: 30px;
   color: rgb(254, 255, 183);
   font-family: 'Dancing Script', cursive;
 }

 .bg-desc p{
   font-size: 1.2rem;
   margin-bottom: 30px;
   color: rgb(254, 255, 183) ; 
   font-family: 'Dancing Script', cursive;
 }

 .bg-desc button{
   border: none;
  background-color: rgba(100, 194, 163, 0.836);
  color: antiquewhite;
  text-transform: uppercase;
  padding: 10px 15px;
  border-radius: 4px;
  float: right;
  cursor: pointer;
  font-family: 'Merriweather', serif;
  transition: 0.2s 0.1s linear;
 }

 .bg-desc button:hover{
   background-color: rgb(100, 194, 163);
   transform: scale(1.1);
  
 }
 /* background image er design ends here */

 /* about us part er design starts here */


.aboutus-desc{
  text-align: justify;
  padding: 5px;

}
 section h2{
   text-align: center;
   font-size: 3rem;
   color:  rgba(102, 98, 95, 0.897);
   padding: 10px 10px;
   font-family: 'Dancing Script', cursive;

 }

 section p{
   font-size: 1rem;
   line-height: 1.2rem;
   color: rgba(102, 98, 95, 0.897);
   font-family: 'Cinzel', serif;
 }

  /* about us part er design ends here */


  /* cart er design starts here */

.menu-image{
  text-align: center;
  transition: 0.3s 0.2s linear;
  box-shadow: 0px 5px 7px 2px rgba(0, 0, 0, 0.199);
  
}

.menu-image:hover{
  transform: scale(1.05);
}

.menu-image img{
  width: 100%;
  height:auto;
  display: block;
  
  
}

.menu-image-text{
  background-color:  rgb(100, 194, 163);
  color: rgb(250, 235, 215);
  padding: 15px;
  line-height: 30px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.menu-image-text h3{
font-size: 1.2rem;
padding-bottom: 5px;

}
strong{
  padding-right: 5px;
}
.menu-image-text p{
  color: antiquewhite;
  line-height: 25px;
  letter-spacing: 1px;
}

  /* cart er design ends here */


  /* customer feedback starts here */

  .feedback-maintag h3{
    text-transform: uppercase;
    text-align: center;
    padding: 10px 20px;
    color: rgba(102, 98, 95, 0.897) ;
    font-size: 1.5rem;

  }

  .customer-pic{
    text-align:center;
    margin-top: 10px;
  }

  .customer-pic img{
   object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
  border: 5px solid antiquewhite;
   
  }
  .customer-feedback p{
    text-align: justify;
    padding-bottom: 10px;
  }

   /* customer feedback ends here */

   /* map and contact er part start */
#contact-us{
  background-color: rgb(100, 194, 163);
  text-align: center;
}

.map-side iframe{
  border: none;
  width: 100%;
  height:500px;
  padding: 10px;
}

.contact-part{
  margin-top: 20px;
  text-align: center;
  padding: 10px 0px;

}

.contact-part h3{
  padding: 20px;
  font-size: 2rem;
  text-transform: uppercase;
  font-family: 'Dancing Script', cursive;
  color: antiquewhite;
}

.contact-part h4{
  text-transform: uppercase;
  padding: 10px;
  color:antiquewhite ;
  font-size: 1.25rem;
}

.contact-part p{
  text-transform: uppercase;
  padding: 5px;
  line-height: 25px;
  color: antiquewhite;
}

    /* map and contact er part start */

 /* main section er design sesh */


 /* footer er design starts here */

#copyright-section{
  background-color: #D3E4CD;
  text-align: center;

}

.copyright i{
  font-size: 2rem;
  padding: 5px;
 color: black;
}
/* .copyright .fas {
  color: rgba(209, 22, 22, 0.884);
} */

.copyright p{
  font-size: 1.1rem;
  color: rgb(65, 60, 56);
}

.copyright-logo{
  
  letter-spacing: 5px;
  font-size: 1.9rem;
  margin-top: 8px;
}

.copyright-logo a:nth-of-type(1){
  color:#3b5998;
}

.copyright-logo a:nth-of-type(2){
  color: #C13584 ;
}

.copyright-logo a:nth-of-type(3){
  color: #00aff0;
}

.copyright-logo a:nth-of-type(4){
  color:#0077b5;
}

.copyright-logo a:nth-of-type(5){
  color:#00acee;
}

.copyright-logo a:nth-of-type(6){
  color:#e0112d ;
  
}



 /* footer er design ends here */

/* For small screen */
@media only screen and (min-width: 350px)and (max-width:576px) {
 

  
  .col-sm-1 {width: 8.33%;}
  .col-sm-2 {width: 16.66%;}
  .col-sm-3 {width: 25%;}
  .col-sm-4 {width: 33.33%;}
  .col-sm-5 {width: 41.66%;}
  .col-sm-6 {width: 50%;}
  .col-sm-7 {width: 58.33%;}
  .col-sm-8 {width: 66.66%;}
  .col-sm-9 {width: 75%;}
  .col-sm-10 {width: 83.33%;}
  .col-sm-11 {width: 91.66%;}
  .col-sm-12 {width: 100%;}
}



/* for medium screen */
@media only screen and (min-width: 768px){
 
  .main-logo img{
    position: absolute;
    top:0;
    left:-30px;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    
  }

  .main-logo  a{
    position: absolute;
    top: 12px;
    left: 14px;
    font-size: 1rem;
    margin: 0 auto;
    
    }
  
    .information{
      float: right;
    }
    nav a{
      display: inline-block;
      
      font-size: 1rem;
  
    }
    
    .bg-desc{
  
      padding: 12% 8%;
      text-align: center;
    }
   
    .bg-desc h1{
      font-size: 3rem;
     
      color: rgb(254, 255, 183);
    
    }
   
    .bg-desc p{
      font-size: 2rem;
      margin-bottom: 20px;
     
    }
   
    .bg-desc button{
      border: none;
     background-color: rgba(100, 194, 163, 0.836);
     color: antiquewhite;
     padding: 10px;
     float: right;
     font-size: 1rem;
    
    transition: 0.4s 0.2s linear;
    }
   
    .bg-desc button:hover{
      background-color: rgb(100, 194, 163);
      transform: scale(1.1);
     
    }

  .aboutus-desc{
    text-align: center;
   line-height: 20px;

  }


  .aboutus-desc h2{
    font-size: 3rem;
    padding: 30px 0px;
  }
  
  .aboutus-desc p{
     font-size: 1.1rem;
  }


  .col-md-1 {width: 8.33%;}
  .col-md-2 {width: 16.66%;}
  .col-md-3 {width: 25%;}
  .col-md-4 {width: 33.33%;}
  .col-md-5 {width: 41.66%;}
  .col-md-6 {width: 50%;}
  .col-md-7 {width: 58.33%;}
  .col-md-8 {width: 66.66%;}
  .col-md-9 {width: 75%;}
  .col-md-10 {width: 83.33%;}
  .col-md-11 {width: 91.66%;}
  .col-md-12 {width: 100%;}
}

/* For desktop: */
@media only screen and (min-width: 992px) {
  .main-logo img{
    position: absolute;
    top:15px;
    left:10px;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    
  }

  .main-logo  a{
  position: absolute;
  top: 20px;
  left: 60px;
  }
  .information {
    float: right;
  }
  nav a{
    display: inline-block;
    padding:15px 15px;

  }


  .bg-desc{
  
    padding: 15% 12%;
    text-align: center;
  }
 
  .bg-desc h1{
    font-size: 4rem;
   
    color: rgb(254, 255, 183);
  
  }
 
  .bg-desc p{
    font-size: 3rem;
    margin-bottom: 40px;
   
  }
 
  .bg-desc button{
    border: none;
   background-color: rgba(100, 194, 163, 0.836);
   color: antiquewhite;
   padding: 15px;
   float: right;
   font-size: 1.1rem;
  margin-top: 20px;
  transition: 0.4s 0.2s linear;
  }
 
  .bg-desc button:hover{
    background-color: rgb(100, 194, 163);
    transform: scale(1.1);
   
  }

  
  .aboutus-desc{
    text-align: center;
  
   line-height: 20px;

  }
  .aboutus-desc h2{

    font-size: 4rem;
    padding: 30px 0px;
  }
  
  .aboutus-desc p{
     font-size: 1.2rem;
  }


  .col-lg-1 {width: 8.33%;}
  .col-lg-2 {width: 16.66%;}
  .col-lg-3 {width: 25%;}
  .col-lg-4 {width: 33.33%;}
  .col-lg-5 {width: 41.66%;}
  .col-lg-6 {width: 50%;}
  .col-lg-7 {width: 58.33%;}
  .col-lg-8 {width:66.66%;}
  .col-lg-9 {width: 75%;}
  .col-lg-10 {width: 83.33%;}
  .col-lg-11 {width: 91.66%;}
  .col-lg-12 {width: 100%;}
  
}

